body {
    margin: 0px;
}

.body {
    height: calc(100vh - 25px);
}

#answer {
    text-align: center;
    margin-bottom: 16px;
}

.toptitle {
    text-align: center;
    padding: 10px;
}

.topscore {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.botbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    border-top: 2px solid black;
}
